#header{
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
    height: 100px;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(52, 52, 52);
}