* {
    font-family: 'Inter', sans-serif;
}

#autocomplete {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#autocomplete::-webkit-scrollbar {
    display: none;
}

input:focus {
    outline: none;
}

